section.header-container{
    background: linear-gradient(to left, #444, rgb(128, 128, 128));
    padding-bottom: 35px;
    color:white;
}

section.navigation{
    color: white;
    padding-top: 20px;
}
div.expenses-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.expenses-shop i.shop-icon{
font-size: 130px;
}

section.global-container{
    margin-top: 40px;
}
section.container-food{
    padding-right: 20px;
    padding-left: 20px;
}


