section.container-navigation {
    background: url("../../assets/soupe-courgette-et-potiron.jpeg") no-repeat center;
    background-size: cover;
    height: 300px;
    color: white;
}

section.container-meal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    position : absolute;
    left: 5%;
    top: -63px;
}
main{
    position: relative;
    padding-top: 80px;
}
div.description-meal {
display: flex;
flex-direction: row;
padding-top: 12px;
padding-bottom: 12px;
width: 100%;
justify-content: space-around;
}
div.description-meal span.time{
display: flex;
flex-direction: row;
align-items: center;
}

div.description-meal span.degree{
display: flex;
flex-direction: row;
    align-items: center;
}
span.ingredients{
    display: flex;
    align-items: center;
}
div.notes {
    padding-top: 12px;
}

div.informations-receipe {
    padding-top: 12px;
}
span.material-icons .right {
    margin-right: 5px;
}

div.title-list{
    font-weight: bolder;
    margin-left: 24px;
}
section.container-food {
    border-bottom: none;
}
div.preparation-title{
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 25px;
}
section.container-food i.material-icons{
    margin-left: 12px;
}

section.steps-recipe {
    margin-left: 25px;
}
section.title {
    margin-top: 10px;
    font-weight: bolder;
}
a.waves-effect.waves-light.btn.planner {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
}
img.receipe-video {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 10px;
}

/*Author of receipe*/
section.personal-informations {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img.profil-img {
    height: 50px;
    border-radius: 50%;
    margin-left: 23px;
    margin-top: 20px;
}
section.personal-informations span.name-profil{
    margin-left: 15px;
    font-weight: bold;
    color: var(--secondary-button-color);

}

section.feedback-informations {
    display: flex;
}

div.share-button {
    margin-right: 15px;
    display: flex;
}
div.share-button span.storyteller{
    font-size: 15px;
    font-weight: bolder;
    color: var(--secondary-button-color);
    margin-left: 5px;
}

section.container-author {
    border-top: 0.5px solid var(--secondary-text-color);
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
div.chat-button{
    margin-right: 33px;
    display: flex;
}
div.chat-button span.number-of-comment {
    font-size: 15px;
    font-weight: bolder;
    color: var(--secondary-button-color);
    margin-left: 5px;
}