.enter-fields {
    margin: 25px;
}

.enter-fields a.submit {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.progress-bar{
    margin-top: 3px;
}

a.submit.waves-effect.waves-light.btn {
    background-color: var(--secondary-button-color);
    width: 100%;
    margin-top: 75px;
}