/* test */
section.test-container {
    margin: 12px;
    margin-top: 50px;
}

section.test-container.full-with {
    margin: 0;
    margin-top: 50px;
}

section.test-container.full-with h5 {
    margin-left: 12px;
    text-transform: capitalize;
}

section.test-container h5 {
    color: darkgoldenrod;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 20px;
}

/* navigation */

section.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    color: var(--main-text-color);
}

section.navigation span.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--size-title);
}

section.navigation span.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.navigation span.icon i.material-icons {
    font-weight: 700;
}

/*card icon */

section.card span.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.card span.icon-container i.material-icons {
    padding: 25px 35px;
    font-size: 54px;
    color: var(--secondary-button-color);
}


section.card span.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

section.card span.description span.title-description {
    font-size: 18px;
    font-weight: bolder;
    color: var(--main-text-color);
}

section.card span.description span.subtitle-description {
    color: var(--secondary-text-color);
}

section.card {
    display: flex;
    align-items: center;
}


/*progress bar */

section.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.progress-bar .cercle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    border: 0.5px solid var(--primary-button-color);
    margin-right: 5px;
}

section.progress-bar .active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: var(--primary-button-color);
    margin-right: 5px;
}

/* round icon component */

div.icon-round-container {
    padding: 34px;
    border-radius: 50%;
    width: fit-content; /* <=> with = 72 + 34 +34 px*/
    margin: auto;
}

div.icon-round-container i.icon {
    font-size: 72px;
    color: var(--primary-button-color);
}

/* CAMERA*/
section.container-upload {
    display: flex;
    align-items: center;
}

section.container-upload .description-input {
    border-bottom: 1px solid var(--primary-button-color);
    width: 100%;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);
}

section.container-upload button.waves-effect {
    margin-left: 20px;
}

/*items expenses*/

section.container-food {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

section.container-food i.material-icons {
    padding-right: 18px;
    font-size: 35px;
}


section.container-food div.items-food {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.container-food div.items-food span.type-food {
    font-weight: bolder;
}

section.container-food span {
    color: #444;
}


/* Target-display */

.outer-circle {
    width: 140px;
    height: 140px;
    background-image: linear-gradient(
            to right, rgb(9, 112, 26) 0%,
            #4caf50 100%);
}

.inner-circle {
    width: 80%;
    height: 80%;
    background-color: white;
}

/* un tag html avec cette classe aura comme effet: */
.circle-center {
    /* cercle */
    border-radius: 50%;
    /* pour center: */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle .target {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-circle .target span.expenses {
 border-bottom: 1px solid #cccccc;
}


/*stick-diagram*/
section.diagram{
    display: flex;
    flex-direction: row;
    height: 140px;
    width: fit-content;
    align-items: flex-end;
}

section.diagram .left {
    width: 20px;
    height: 80%;
    background-color: var(--primary-button-color);
}
section.diagram .right {
    width: 20px;
    height: 40%;
    background-color: var(--secondary-button-color);
}

section.description{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
section.description span.month{
    font-weight: bolder;
    color: var(--secondary-text-color);
    font-size: 18px;
}
section.description span.score{

    color: var(--secondary-button-color);
}

section.diagram-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}